<html lang="en">
<%- include("../partials/header.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>
  <div class="details-container">
    <div class="details content">
      <h3>Date:</h3>
      <p><%= workout.date %></p><br>
      <h3>Time:</h3>
      <p><%= workout.time %></p><br>
    
        <h3>Notes:</h3>
        <% workout.notes.split(/(\r?\n)|\r/).forEach(line => { %>
          <p class="notes"><%= line %></p>
        <% }) %>
        <br>

      <a class="delete" data-doc="<%= workout._id %>">delete</a>
    </div>
  </div>

  <%- include("../partials/footer.ejs") %>

  <script>
    const trashcan = document.querySelector('a.delete');

    trashcan.addEventListener('click', (e) => {
      const endpoint = `/workouts/${trashcan.dataset.doc}`;

      fetch(endpoint, {
        method: 'DELETE'
      })
      .then((response) => response.json())
      .then((data) => window.location.href = data.redirect)
      .catch(err => console.log(err));
    })
  </script>

</body>
</html>