<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
  <%- include("./partials/nav.ejs") %>
  <div>
    <% if (workouts.length > 0) { %>
      <% workouts.forEach(workout => { %>

        <p class="date"><%= workout.date %></h3>
        <p class="time"><%= workout.time %></p>
        <p class="notes"><%= workout.notes %></p>

      <% }) %>
    <% } else { %>
      <p>There are no workouts to display...</p>
    <% } %>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>